{% extends "base.html" %}
{% block title %}Advertising{% endblock %}

{% block content %}
<div class="row featurette">
    <div class="col-md-7">
        <h1 class="featurette-heading">Advertising  <span class="text-muted">with us is easy</span></h1>
        <p class="lead">We offer several options for you to use our site to grow and promote your business.  For more information <a href="/contact">contact us</a> and we will get in touch with you.</p>
        <ul>
            <li>A direct link to your website from the main menu</li>
            <li>Sponsored spot in search results</li>
            <li>We can work with you if you'd prefer a custom option. Just <a href="/contact">contact us</a></li>
        </ul>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" height="500" width="500" src="/static/img/advertise/main_menu_clip.jpg" >
    </div>
</div>
{% endblock %}

