{% extends "base.html" %}
{% block title %}Vail{% endblock %}

{% block content %}
<div class="row vail-profile">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <h2>A breif history of Vail, Colorado</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img src="/static/img/about/snowy_trees.jpg" height="400" width="400" class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-9">
                <strong>Vail's Past</strong>
                <p>Vail started as one man’s idealistic vision, driven by a single passion, and went on to become the largest ski resort in the United States, and a destination for vacationers all over the world. What started with only one gondola, two ski lifts and a couple of guys destined on creating something truly special, has evolved into an amazingly diverse terrain that has something to offer for everyone. Vail mountain and the subsequent towns of Vail, East and West Vail, and Lionshead were all built with the sole purpose of offering a once lifetime experience, and it does just that.</p>

                <strong>Vail's Present</strong>
                <p>Starting from humble beginnings, Vail Ski resort has grown to be the largest ski resorts in the United States with 5289 acres, and the tenth largest ski resort in the world. With more groomed terrain than any other ski resort, and home to the World Famous Back Bowls, there is literally something for all types of skiers and snowboarders, and for all proficiency types. All of this terrain is accessed by a total of 33 lifts, including two gondolas, and 18 high-speed quad chairs, ensuring access to all areas, and never leaving one stranded. After an amazing day on the mountain, one then gets to enjoy the Villages, which are filled with world class shopping, restaurants and nightlife.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item active">Resort</a>
            <a href="#" class="list-group-item">City</a>
            <a href="#" class="list-group-item">Mountain Info</a>
            <a href="#" class="list-group-item">Travel</a>
            <a href="#" class="list-group-item">Denver</a>
            <a href="#" class="list-group-item">Trails</a>
            <a href="#" class="list-group-item">Safety</a>
        </div>
    </div>
</div>
{% endblock %}
